
body {
  margin: 0;
}

#wholePage{
	background: linear-gradient(rgba(20,0,255,.5), rgba(20,0,255,0), rgba(20, 0, 255, 0));
}

h2{
color: #a0a0ff;
}

h1, h2{
  margin: auto;
  width: 30%;
  font-family: 'Lato', sans-serif;
}

.header {
  padding-top:30%;
  padding-bottom: 50%;
  text-align: center;
  color: white;
}

.page{
padding: 10%;
padding-bottom:80%;
}

a{
  color: #a0a0ff;
}

a:hover{
  color: #e6e6ff;
}


#navbar {
  overflow: hidden;
  background-color: rgb(179, 179, 255);
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: rgb(204, 204, 255);
  color: black;
}

#navbar a.active {
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

img{
  /*makes it circular*/
  border-radius: 50%;
}




.project{
  float: left;
  padding: 20 20 20 20;
  /*these two lines might be useless*/
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.project:hover{
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}



#bio{
  font-family: 'Lato', sans-serif;
  float: left;
  padding-left: 20;
}

#profilePhoto{
  float: left;
}
