
html, body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/*the down arrow under "Welcome"*/
#downArrow{
    padding-top:20px;
    color:#f3e670;
}

/*About and Projects on the home page*/
.sectionTitle{
  padding-top:60px;
}

/*title of a project on that project's page*/
.projectTitle{
  padding-top:80px;
}

/*Welcome, section titles, project titles*/
h1, h2 {
  margin: auto;
  width: 30%;
  text-align: center;
}



/*About and Projects sections on home page*/
.page{
  height:80vh;
}

a{
  color: #9d4485;
  text-decoration: none;
  float: center;
}

a:hover{
  color: #c982b6;
}


#navbar {
  overflow: hidden;
  background-color: #9d4485;
}


/*style the links in the navbar*/
#navbar a {
  float: left;
  display: block;
  color: #f3e670;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #c982b6;
}


/*currently this never happens, because we aren't adding the active class to links in the navbar.  could do this but might be hard since it's a one page thing so it's hard to figure out which link is active*/
#navbar a.active {
  color: white;
}


/*makes the content of each page not go all the way to the edges*/
.content {
  padding: 6%;
  height: 80vh;
}

.blue-background{
    background-color: rgb(44,154,173);
    color:#f3e670;
}


.white-background{
    background-color: #f3e670;
    color: rgb(44,154,173);
}

.whiteHeader{
    color:#ffffff;
}


/*put the navbar at the top when it's sticky*/
.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}


/*put the navbar at the bottom when it's not sticky*/
.notSticky{
  position: absolute;
  bottom: 0px;
  width: 100%;
}


#profilePhoto{
  /*makes it circular*/
  border-radius: 50%;
    border: 5px #9d4485 solid;
    float: left;
    margin-right: 20px;
}


#bio{
  float: left;
  padding-left: 20px;
}

.divider{
    height:15px;
    width:100vw;
    background-color: #9d4485;
}

/*******************************************************************
project gallery styling
*******************************************************************/
#projectGallery{
    padding-top: 40px; 
    display: flex;
  justify-content: center;
}

#projectGallery .icon-button {
  width: 150px;
  height: 150px;
  border: 5px solid #9d4485;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #f3e670;
  border-radius: 50%;
  cursor: pointer;
  transition: .5s;
  position: relative;
  z-index: 0;
  float:left;
  overflow: hidden;
  text-align: center;
  margin-right: 25px;
}

#projectGallery .icon-button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: #9d4485;
  border-radius: 50%;
  z-index: -1;
  transition: ease-in-out 300ms;
}
#projectGallery .icon-button:hover {
  color: #f3e670;
}
#projectGallery .icon-button:hover::before {
  width: 140px;
  height: 140px;
}


/*******************************************************************
EVERYTHING BELOW HERE IS THE ANIMATION ON THE HOME PAGE
*******************************************************************/

/*animating the arrow fading in/out*/
@-webkit-keyframes fade {
  0%   { opacity: .3; }
  50%  { opacity: 1; }
  100% { opacity: .3; }
}
@-moz-keyframes fade {
  0%   { opacity: .3; }
  50%  { opacity: 1; }
  100% { opacity: .3; }
}
@-o-keyframes fade {
  0%   { opacity: .3; }
  50%  { opacity: 1; }
  100% { opacity: .3; }
}
@keyframes fade {
  0%   { opacity: .3; }
  50%  { opacity: 1; }
  100% { opacity: .3; }
}

#downArrow {
  -webkit-animation: fade 5s infinite;
  -moz-animation: fade 5s infinite;
  -o-animation: fade 5s infinite;
  animation: fade 5s infinite;
}

section#welcomeAnimation {
	background: #2c9aad;
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

	.triangle_vert {
		position: absolute;
		bottom: 0;
		left: 0;
		margin-left: -100px;
		margin-bottom: -200px;

		background: #9d4485;
		width: 120%;
		height: 300px;

		-webkit-animation: triangle_v 20s infinite cubic-bezier(.14,.36,.59,.9);
		-ms-animation: triangle_v 20s infinite cubic-bezier(.14,.36,.59,.9);
	    animation: triangle_v 20s infinite cubic-bezier(.14,.36,.59,.9);
	}

	@-webkit-keyframes triangle_v {
	    0% {	
			-webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
			-ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
			transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
		}

	    25% {
			-webkit-transform: rotate(7deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
		    -ms-transform: rotate(7deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
		    transform: rotate(7deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
	    }

	    50% {	
			-webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
		    -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
		    transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
		}

		75% {	
			-webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
		    -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
		    transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
		 	 }

	    100% {	
			-webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
		    -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
		    transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
	    }
	}


			@-ms-keyframes triangle_v {
			    0% {	
					-webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
					-ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
					transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
				}

			    25% {
					-webkit-transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
				    -ms-transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
				    transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
			    }

			    50% {	
		    		-webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
				    -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
				    transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
				}

				75% {	
					-webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
				    -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
				    transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
				 	 }

			    100% {	
		    		-webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
				    -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
				    transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
			    }
			}

					@keyframes triangle_v {
					    0% {	
							-webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
							-ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
							transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
						}

					    25% {
							-webkit-transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
						    -ms-transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
						    transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
					    }

					    50% {	
				    		-webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
						    -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
						    transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
						}

						75% {	
							-webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
						    -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
						    transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
						 	 }

					    100% {	
				    		-webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
						    -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
						    transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
					    }
					}


	.triangle_rose {
		position: absolute;
		top: 0;
		left: 0;
		margin-left: -100px;
		margin-top: -150px;

		background: #9d4485;
		width: 120%;
		height: 250px;

		transform: rotate(7deg);
		-webkit-transform: rotate(7deg);
		-ms-transform: rotate(7deg);

		-webkit-animation: triangle_r 20s infinite cubic-bezier(.14,.36,.59,.9);
		-ms-animation: triangle_r 20s infinite cubic-bezier(.14,.36,.59,.9);
	    animation: triangle_r 20s infinite cubic-bezier(.14,.36,.59,.9);
	}


	@-webkit-keyframes triangle_r {
	    0%   {	
			-webkit-transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
		    -ms-transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
		    transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
		}

	    25% {
			-webkit-transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
		    -ms-transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
		    transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
	    }

	    50% {	
			-webkit-transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
		    -ms-transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
		    transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
		}

		75% {	
			-webkit-transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
		    -ms-transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
		    transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
		}

	    100% {	
			-webkit-transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
		    -ms-transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
		    transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
	    }
	}

			@-ms-keyframes triangle_r {
			    0%   {	
					-webkit-transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
				    -ms-transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
				    transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
				}

			    25% {
					-webkit-transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
				    -ms-transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
				    transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
			    }

			    50% {	
					-webkit-transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
				    -ms-transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
				    transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
				}

				75% {	
					-webkit-transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
				    -ms-transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
				    transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
				}

			    100% {	
					-webkit-transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
				    -ms-transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
				    transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
			    }
			}

					@keyframes triangle_r {
					    0%   {	
							-webkit-transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
						    -ms-transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
						    transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
						}

					    25% {
							-webkit-transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
						    -ms-transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
						    transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
					    }

					    50% {	
							-webkit-transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
						    -ms-transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
						    transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
						}

						75% {	
							-webkit-transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
						    -ms-transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
						    transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
						}

					    100% {	
							-webkit-transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
						    -ms-transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
						    transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
					    }
					}


section#welcomeAnimation > header {
	position: absolute;
	z-index: 10;
	top: 50%;
	margin-top: -50px;
	width: 100%;
	height: 100px;
	text-align: center;
}

		section#welcomeAnimation header > h1 {
			position: initial;
			font-family: 'Lato', sans-serif;
			color: #f3e670;
			font-size: 18px;
			font-weight: 500;
			letter-spacing: .4em;
			margin-top: 20px;
		}
